body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; 
    margin: 0; 
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("./imagens/fotoDrama.png");
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(177, 107, 131);
}

::-webkit-scrollbar-track {
    background: gray;
}

h1 {
    font-size: 2.2rem; 
    color: antiquewhite;
    text-align: center; 
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    font-size: 1.3rem;
    font-family: "Playpen Sans", cursive;
    color: antiquewhite;
    text-align: center;
}

#container-generos {
    list-style: none;
    padding: 0;
}

#container-generos li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #ffbdbd;
    border-radius: 0.7rem;
    font-family: "Playpen Sans", cursive;
    font-size: 0.9rem;
    
}

input {
    width: 25rem; 
    height: 3.3rem;
    border: none;
    border-radius: 1.5rem; 
    margin-bottom: 0.5rem;  
    opacity: 0.5;
    margin: 1.5rem 0; 
    font-family: "Playpen Sans", cursive;   
   
}

button {
    border: none;
    border-radius: 1.5rem;
    height: 2.4rem;
    background-color: brown;
    font-family: "Playpen Sans", cursive;

}

.resultados-pesquisa {
    width: 60rem;    
    height: 40vh;    
    overflow-y: auto;    
    
    padding: 1rem;    
    border-radius: 0.6rem;    
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.item-resultado {
    background: white;    
    border-radius: 0.6rem;   
    padding: 1rem;    
    margin-bottom: 1rem;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
    
}

.item-resultado h2 {
    font-size: 25px;
    color: black
}

.item-resultado a:hover {   
    color: purple;
    transition: .4s;
    cursor: pointer;
}

.item-resultado a {
    text-decoration: none; 
    color: rgb(153, 100, 202);   

}


.descricao-meta {
    color: #302f2f;
    margin: 0.5rem 0;
    font-size: 1.2rem;  

}

h3 {
    font-size: 13px;
    color: dimgray;
    margin-right: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: lavender;
    padding: 10px;
    width: 100%;  
    padding: 0;   
}

.footer-content {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.social-icons {
    display: flex; 
    gap: 12px; 
}

.social-icon {
    width: 24px; 
    height: 24px; 
    transition: transform 0.3s ease;
}
.social-icon:hover {
    transform: scale(1.1); 
}






